:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --accent-hover-color: #188ce8;
  --nav-text-color: #000000;
  --contacts-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --card-margin: 30px;
  --border-color: #afb1b8;
  --transition-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.btn {
  cursor: pointer;
  border: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* -------------Стили главной страницы-------------*/

/* -------------------HEADER---------------------- */

.header {
  background-color: var(--primary-background-color);
  border-bottom: 1px solid #ececec;
}

.header-main-nav {
  display: flex;
}

/* -------------------LOGO----------------------- */

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.logo-accent {
  color: var(--accent-color);
}

/* ------------------HEADER-NAV -----------------------*/

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav .link {
  color: var(--nav-text-color);
}

.header-list {
  display: flex;
  margin-left: 93px;
}

.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
  transition: color var(--transition-duration) var(--timing-function);
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts-item {
  display: flex;
  align-items: center;
}

.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}

.header-contacts-link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  transition: color var(--transition-duration) var(--timing-function);
}

.contacts-hover {
  color: var(--primary-text-color);
  transition: color var(--transition-duration) var(--timing-function);
}

.contacts-hover:hover {
  color: var(--accent-color);
}

.header-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-link:hover,
.header-link:focus,
.header-link.current,
.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

.current {
  position: relative;
}

.current::after {
  position: absolute;
  bottom: -1px;
  left: 0;

  content: '';
  width: 100%;
  height: 4px;

  background-color: var(--accent-color);
  border-radius: 2px;
}

/* -------------------HERO---------------------- */

.hero {
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 200px 0;

  text-align: center;

  background-color: var(--footer-background-color);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-bg-white-color);
}

/* -----------------HERO-BUTTON------------------- */

.hero-btn {
  min-width: 200px;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-bg-white-color);
  background-color: var(--accent-color);

  transition: box-shadow var(--transition-duration) var(--timing-function),
    background-color var(--transition-duration) var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--accent-hover-color);
}

/* -------------------SECTIONS---------------------- */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-top-padding {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--secondary-text-color);
}

.section-list {
  display: flex;
}

.section-item {
  position: relative;
}

.section-item:not(:last-child) {
  margin-right: var(--card-margin);
}

.section-item-title {
  margin-bottom: 10px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.section-item-text {
  line-height: 1.71;
}

.icon-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 120px;
  margin-bottom: var(--card-margin);

  border-radius: 4px;
  background-color: var(--secondary-background-color);
}

.section-label {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  background-color: rgba(47, 48, 58, 0.8);
}

.section-label-text {
  font-weight: 700;
  line-height: 1.14;

  text-transform: uppercase;

  color: var(--primary-bg-white-color);
}

/* -------------------TEAM---------------------- */

.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
}

.team-item {
  background-color: var(--primary-bg-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  background-color: var(--primary-bg-white-color);
}

.team-item:not(:last-child) {
  margin-right: var(--card-margin);
}

.team-thumb {
  padding-top: var(--card-margin);
  padding-bottom: var(--card-margin);
}

.team-item-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-item-text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--border-color);
  transition: color var(--transition-duration) var(--timing-function),
    background-color var(--transition-duration) var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  color: var(--primary-bg-white-color);
  background-color: var(--accent-color);
}

.social-icon {
  fill: currentColor;
  transition: fill var(--transition-duration) var(--timing-function);
}

.social-icon:hover {
  fill: var(--primary-bg-white-color);
}

/* ----------------CLIENTS---------------------- */

.clients-list {
  display: flex;
  margin-right: calc(-1 * var(--card-margin));
}

.clients-item {
  margin-right: var(--card-margin);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  border: 1px solid var(--border-color);
  border-radius: 4px;

  color: var(--border-color);
  transition: color var(--transition-duration) var(--timing-function),
    border-color var(--transition-duration) var(--timing-function);
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

/* -----------------Стили Портфолио---------------------*/

/* ----------------FILTER BUTTONS---------------------- */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  min-width: 73px;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  transition: box-shadow var(--transition-duration) var(--timing-function),
    color var(--transition-duration) var(--timing-function),
    background-color var(--transition-duration) var(--timing-function);
}

.filter-btn:hover,
.filter-btn:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--primary-bg-white-color);
  background-color: var(--accent-color);
}

/* -----------------PROJECT-LIST---------------------- */

.project-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-1 * var(--card-margin));
  margin-bottom: calc(-1 * var(--card-margin));
}

.project-item {
  flex-basis: calc(100% / 3 - var(--card-margin));
  margin-right: var(--card-margin);
  margin-bottom: var(--card-margin);
}

.project-link {
  display: block;
  transition: box-shadow var(--transition-duration) var(--timing-function);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link:hover .project-overlay-text,
.project-link:focus .project-overlay-text {
  transform: translateY(0);
}

.project-overlay {
  position: relative;
  overflow: hidden;
}

.project-overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;

  transform: translateY(101%);
  transition: transform var(--transition-duration) var(--timing-function);

  color: var(--primary-bg-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  overflow: auto;
}

.project-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}

.project-text {
  font-size: 16px;
  line-height: 1.87;

  color: var(--primary-text-color);
}

.project-border {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

/* -------------------FOOTER---------------------- */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer-content {
  display: flex;
  align-items: baseline;
}

.footer-address {
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer .link {
  color: var(--primary-bg-white-color);
}

.footer-link {
  font-style: normal;
  line-height: 1.71;
}

.footer-link.transparent {
  color: var(--contacts-text-color);
  transition: color var(--transition-duration) var(--timing-function);
}

.footer-link.transparent:hover,
.footer-link.transparent:focus {
  color: var(--accent-color);
}

.footer-text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-bg-white-color);
}

.footer-social .social-link {
  color: var(--primary-bg-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  transition: color var(--transition-duration) var(--timing-function),
    background-color var(--transition-duration) var(--timing-function);
}

.footer-social .social-link:hover,
.footer-social .social-link:focus {
  color: var(--primary-bg-white-color);
  background-color: var(--accent-color);
}

.footer-subscribe {
  margin-left: auto;
}

.footer-form {
  display: flex;
  align-items: flex-end;
}

.footer-label {
  display: block;
  margin-bottom: 20px;

  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-bg-white-color);
}

.footer-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  color: var(--primary-bg-white-color);
  background-color: transparent;
  transition: box-shadow var(--transition-duration) var(--timing-function);
}

.footer-input:placeholder-shown {
  font-size: 16px;
  line-height: 1.25;

  color: var(--contacts-text-color);
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: box-shadow var(--transition-duration) var(--timing-function),
    background-color var(--transition-duration) var(--timing-function);
}

.footer-btn:hover,
.footer-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--accent-hover-color);
}

.footer-btn-text {
  margin-right: 10px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-bg-white-color);
}

/* --------------------MODAL-------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition-duration) var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transition-duration) var(--timing-function),
    box-shadow var(--transition-duration) var(--timing-function);

  width: 528px;
  min-height: 581px;
  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--primary-bg-white-color);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  color: var(--nav-text-color);
  background-color: var(--primary-bg-white-color);
  transition: color var(--transition-duration) var(--timing-function);
}

.modal-btn:hover,
.modal-btn:focus {
  color: var(--accent-color);
}

.modal-icon {
  fill: currentColor;
}

.modal-form {
  text-align: center;
}

.modal-heading {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;

  color: var(--secondary-text-color);
}

.modal-field {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.modal-field:nth-of-type(4) {
  margin-bottom: 20px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;

  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--primary-text-color);
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-right: 16px;
  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border-color var(--transition-duration) var(--timing-function);
}

.modal-input:focus,
.modal-textarea:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-input-icon {
  position: absolute;
  top: 28px;
  left: 12px;
  fill: var(--secondary-text-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--accent-color);
  transition: fill var(--transition-duration) var(--timing-function);
}

.modal-textarea {
  resize: none;
  display: block;
  width: 100%;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border var(--transition-duration) var(--timing-function);
}

.modal-textarea:placeholder-shown {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal-icon-check {
  order: -1;
  display: inline-block;
  margin-right: 7px;
  border: 2px solid #2a2a2a;

  border-radius: 2px;
}

.modal-checkbox:checked + .modal-icon-check {
  background-color: var(--accent-color);
  background-origin: border-box;
  border: none;
}

.modal-text {
  line-height: 1.71;

  color: var(--primary-text-color);
}

.modal-link {
  color: var(--accent-color);
}

.modal-btn-submit {
  width: 200px;
  height: 50px;

  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-duration) var(--timing-function),
    box-shadow var(--transition-duration) var(--timing-function);
}

.modal-btn-submit:hover,
.modal-btn-submit:focus {
  background-color: var(--accent-hover-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.modal-btn-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--primary-bg-white-color);
}
