.clients {
  display: flex;
  margin-right: calc(-1 * var(--card-gap));
}

.clients__item {
  margin-right: var(--card-gap);
}

.clients__link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  border: 1px solid var(--border-color);
  border-radius: 4px;

  color: var(--border-color);
  transition: color var(--transition-duration) var(--timing-function),
    border-color var(--transition-duration) var(--timing-function);
}

.clients__link:hover,
.clients__link:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}

.clients__icon {
  fill: currentColor;
}
