.clients {
  display: flex;
  margin-right: calc(-1 * $card-gap);

  &__item {
    margin-right: $card-gap;
  }

  &__link {
    @include centeredFlex();
    width: 170px;
    height: 92px;

    border: 1px solid $border-color;
    border-radius: 4px;

    color: $border-color;
    transition: color $timing $function, border-color $timing $function;

    &:hover,
    &:focus {
      border-color: $accent-color;
      color: $accent-color;
    }
  }

  &__icon {
    fill: currentColor;
  }
}
