.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $footer-bg-color;

  &__container {
    @include centeredFlex($cross-axis: baseline);
  }

  &__contact-info {
    margin-right: 70px;
    color: $primary-bg-white-color;
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__link {
    line-height: 1.71;
    color: $contacts-text-color;
    transition: color $timing $function;

    &:hover,
    &:focus {
      color: $accent-color;
    }
  }

  &__text {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: $primary-bg-white-color;
  }

  &__social {
    margin-right: auto;
  }
}
