.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-background-color);
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__contact-info {
  margin-right: 70px;
  color: var(--primary-bg-white-color);
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  line-height: 1.71;
  color: var(--contacts-text-color);
  transition: color var(--transition-duration) var(--timing-function);
}

.footer__link:hover,
.footer__link:focus {
  color: var(--accent-color);
}

.footer__text {
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--primary-bg-white-color);
}

.footer__social {
  margin-right: auto;
}
