.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &--no-top-padding {
    padding-top: 0;
  }

  &--another-bg-color {
    afterbackground-color: $secondary-bg-color;
  }
}

.section__title {
  @extend %title;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section__title--hidden {
  @extend %visually-hidden;
}
