.social {
  @include centeredFlex();

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    @include centeredFlex();

    width: 44px;
    height: 44px;
    border-radius: 50%;

    color: $border-color;
    transition: color $timing $function, background-color $timing $function;

    &:hover,
    &:focus {
      color: $primary-bg-white-color;
      background-color: $accent-color;
    }
  }

  &__icon {
    fill: currentColor;
    transition: fill $timing $function;

    &:hover {
      fill: $primary-bg-white-color;
    }
  }
}

.footer__social {
  margin-right: auto;

  & .social__link {
    color: $primary-bg-white-color;
    background-color: rgba(255, 255, 255, 0.1);
    transition: color $timing $function, background-color $timing $function;

    &:hover,
    &:focus {
      color: $primary-bg-white-color;
      background-color: $accent-color;
    }
  }
}
