%link {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

%title {
  font-weight: 700;
  color: var(--secondary-text-color);
}

%btn {
  min-width: 200px;
  height: 50px;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--primary-bg-white-color);
  background-color: var(--accent-color);

  transition: box-shadow var(--transition-duration) var(--timing-function),
    background-color var(--transition-duration) var(--timing-function);
}

%btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--accent-hover-color);
}
