%link {
  font-style: normal;
  text-decoration: none;
  color: inherit;
}

%visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

%title {
  font-weight: 700;
  color: $secondary-text-color;
}

%btn {
  min-width: 200px;
  height: 50px;

  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: $primary-bg-white-color;
  background-color: $accent-color;

  transition: box-shadow $timing $function, background-color $timing $function;
}

%btn:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: $accent-color-hovered;
}
